var scheme   = "<%= Rails.env.production? ? 'wss://' : 'ws://' %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
var lastPingTime = new Date();

ws.onmessage = function(message) {
  if(message.data == "ping") {
    lastPingTime = new Date();
    console.log("Got ping from server.")
  } else {
    var data = JSON.parse(message.data);
    selector = $("#revision_" + data.revision_id);

    // Add new revisions
    if($(selector).length == 0) {
      $("#revisions").prepend("<div id='revision_" + data.revision_id + ">" + data.html + "</div>");
    }
    else {
      // Update old ones
      $("#revision_" + data.revision_id).html(data.html);
    }
  }
};

reloadWhenSocketConnectionIsLost = function() {
  currentTime = new Date();
  secondsSinceLastUpdate = (currentTime - lastPingTime) / 1000.0;

  if(secondsSinceLastUpdate > 10) {
    location.reload();
  }
}

window.setInterval(reloadWhenSocketConnectionIsLost, 5000);
