body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  color: #444;
}

.revision-wrapper {
  &.by-me {
    opacity: 0.3;
  }

  &.last-clicked {
    font-weight: bold;
  }
}

.revision {
  padding: 10px;
  max-width: 1000px;
  margin-bottom: 2px;

  .button {
    float: right;
  }

  .rev {
    font-size: 12px;
    margin-top: 8px;
  }

  .tag {
    margin-left: 5px;
    display: inline;

    .name {
      display: inline;
      margin-right: 3px;
      color: #888;
    }

    .value {
      display: inline;
      font-weight: 600;
      color: #444;
    }
  }
}
