$white: #fff;
$green: #dfd;
$blue: #ddf;
$yellow: goldenrod;
$light-gray: #888;
$dark-gray: #444;

$large-font-size: 14px;
$small-font-size: 12px;

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $large-font-size;
}

a {
  color: $dark-gray;
}

.revision-wrapper {
  &.by-me {
    opacity: 0.5;

    .gravatar {
      width: 16px;
      height: 16px;
    }

    .message-details, .rev, .button-wrapper {
      display: none;
    }
  }

  &.last-clicked .revision {
    border-left: 10px solid $yellow;
  }
}

.revision {
  padding: 10px;
  max-width: 1000px;
  margin-bottom: 1px;
  box-sizing: border-box;

  & {  // Not reviewed.
    .button { background: $green; }
  }

  &.was-reviewed {
    background: $green;
    .button { background-color: $white; }
  }

  &.in-review {
    background: $blue;
  }

  .gravatar {
    $size: 36px;
    border-radius: 4px;
    float: left;
    width: $size;
    height: $size;
    margin: 2px 8px 2px 0;
  }

  .button-wrapper {
    float: right;
  }

  .button {
    border: 1px solid $light-gray;
    border-radius: 3px;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 5px;
  }

  .message-details {
    font-size: $small-font-size;
    margin: 4px 0;
    color: $light-gray;
  }

  .rev {
    font-size: $small-font-size;
    margin-top: 8px;
  }

  .property {
    margin-left: 5px;
    display: inline;

    .property-name {
      display: inline;
      margin-right: 3px;
      color: $light-gray;
    }

    .property-value {
      display: inline;
      font-weight: 600;
      color: $dark-gray;
    }
  }
}
