$white: #fff;
$green: #dfd;
$light-gray: #888;
$dark-gray: #444;

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  color: $dark-gray;
}

.revision-wrapper {
  &.by-me {
    opacity: 0.3;
  }

  &.last-clicked {
    font-weight: bold;
  }
}

.revision {
  padding: 10px;
  max-width: 1000px;
  margin-bottom: 1px;

  & {  // Not reviewed.
    .button { background: $green; }
  }

  &.was-reviewed {
    background: $green;
    .button { background-color: $white; }
  }

  .button-wrapper {
    float: right;
  }

  .button {
    border: 1px solid $light-gray;
    border-radius: 3px;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: 600;
  }

  .rev {
    font-size: 12px;
    margin-top: 8px;
  }

  .property {
    margin-left: 5px;
    display: inline;

    .property-name {
      display: inline;
      margin-right: 3px;
      color: $light-gray;
    }

    .property-value {
      display: inline;
      font-weight: 600;
      color: $dark-gray;
    }
  }
}
